.main_container{
    /* display: inline-block; */
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    /*justify-content: flex-start;*/
    
    
}

.section1{
    background-color: rgb(40, 40, 40); /*redundant as html has already established color? */
    /*text-align:left; default */
    color:grey;
   
}

#box1{background-color:blue; padding-top: 5px;  text-align:start; }
#box2{background-color:green; max-width: 50%; }
#box3{background-color:palevioletred; }


nav{
    display: flex;
    justify-content: flex-end;
}

html{
    background-color:rgb(40, 40, 40);
}

h1, h4{
    color:white;
}

h3{
    color:lightskyblue;
    text-align:justify;
} 

/* p{
    color:grey
}  */

aside{
    width: 40%;
    float: right; 
    background-color:tan;
    /* display: flex;
    flex-direction: column; */
    
}
 
aside > p{
    margin: 0.5rem;
    font-size:small;
}

hr{
    border: 1px solid lightgrey;
    
}

.section3{
    /*float:right;  text-align: end; */
    color:grey;
    /* display: flex;
    flex-direction: column;
    align-items:flex-end; */
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    /* ul{
        list-style-type: square;
        color: red;
    } */
     width: 33%;
    
}

/* flex-grow -- try it later */
.bars{
    border: .1px transparent;
    /* width: 10px; */
    height: 20px;
    /* text-align:center; */
    /* font-size: 30px; */
    /* word-wrap:break-word; -- cuts off excess text but resolved by disabling width */
    margin-right:auto; /* moved to here as margin-auto was prevalent in all of its child */
}

#ps1{background-color:rgb(11, 88, 133); padding-left:90%; }
#ps2{background-color:rgb(10, 140, 184); padding-left:80%; }
#ps3{background-color:green; padding-left:93%; }
#ps4{background-color:orange; padding-left:80%; }
#ps5{background-color:red; padding-left:70%; }

.boxes{
    border: .1px solid;
    width: 10px;
    height: 10px;
    /* padding:0;
    margin: 0;
    border-collapse:collapse; */
    /* margin-right:auto; */
    
}

#gs1{background-color:rgb(11, 88, 133);}
#gs2{background-color:rgb(10, 140, 184);  }
#gs3{background-color:green;  }
#gs4{background-color:orange; }
#gs5{background-color:red;  }

table{
    border: transparent;
    text-align: left;
    /* width: 33% -- applying width: 33% to the parent section3 class block solves the sizing issue */
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }
  
  @media only screen and (orientation: portrait) {
    body {
      background-color: pink;
    }
  }
