.main_container{
    /* display: inline-block; */
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    /*justify-content: flex-start;*/
    
}
.section1{
    background-color: rgb(40, 40, 40); /*redundant as html has already established color? */
    /*text-align:left; default */
   
}

#box1{background-color:blue; max-width: 50%;}
#box2{background-color:green; max-width: 50%; }
#box3{background-color:palevioletred; }

html{
    background-color:rgb(40, 40, 40);
}

h1{
    color:white;
}

h3{
    color:lightskyblue
}
p{
    color:grey
}

